body {
	margin: 0;
	padding: 0;
	background-color: #2d2d2d;
}

h1 {
	text-align: center;
	color: #d0d0d0;
}

h3 {
	margin: 10px;
}

#sub-heading, form {
	color: #bbbbbb;
}

legend {
	background-color: #3d3d3d;
	font-weight: bold;
	padding: 5px 8px 0 8px;
}

fieldset, textarea, .dump-button, #file-contents, legend {
	border: 0;
	border-radius: 4pt;
}

textarea {
	background-color: #555555;
	color: #cccccc;
}

.dump-button, #file-contents {
	background-color: #555555;
	color: #dddddd;
}

fieldset {
	margin: 0 10px;
	background-color: #3d3d3d;
}